:root {
    --primary-color-text: #757575;
    --accent-color: #2196F3;
    --bgd-color: #FFFFFF;
    --bgd-color-footer: #2F303A;
    --color-link: #212121;
    --logo-color-span: #000000;
    --setion-bgd-team: #F5F4FA;
}

/* Body */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px; 
    margin: 0 auto;
    /* outline: 1px solid red; */
}

body {
    color: var(--primary-color-text);
    background-color: var(--bgd-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;    
}

a {
    text-decoration: none;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.header-all {
    display: flex;
    align-items: center;
}
.nav-all {
    display: flex;
    align-items: center;
}

/* Header */

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.logo span {
    color: var(--logo-color-span);
}
.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--color-link);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}
.header-nav .header-link.current {
    color: var(--accent-color);
}
.header-nav { 
    display: flex;
    margin-left: 93px;
}
.header-nav .lex + .lex {
    margin-left: 50px;
}
.auth-link {
    color: var(--primary-color-text);
    font-weight: 500;
}
.auth-link:hover,
.auth-link:focus {
    color: var(--accent-color);
}
.header-page .auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav .head + .head {
    margin-left: 50px;
}

/* main */

.hero-section {
    background: var(--bgd-color-footer);  
    margin-top: 0;
    margin-bottom: 94px;
    text-align: center;
}
.hero-title {
    margin-top: 0;
    margin-bottom: 30;
    color: var(--bgd-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-btn {
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    text-align: center;
    border: 1px solid transparent;

    
    color: var(--bgd-color);
    background-color: var(--accent-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;    
}

/* section detail */
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;   
} 

.section-detail {
    margin-bottom: 94px;
}


.detail-title {
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--color-link);
    font-weight: 700;
    font-size: 14px;
}
.detail-text {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--primary-color-text);
    font-size: 14px;
}

/* section work */
.work-section {
    margin-bottom: 94px;
}
.work-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--color-link);
    font-weight: 700;
    font-size: 36px;
}

/* section team */
.team-section {
    background-color: var(--setion-bgd-team);
}

.team-title {
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 94px;
    color: var(--color-link);
    font-weight: 700;
    font-size: 36px;
}
.team-img {
    margin-bottom: 30px;
}

.team-name {
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--color-link);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.team-text {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--primary-color-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}
/* portfolio */
.btn-nav {
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 6px 22px;
    min-width: 73px;
    text-align: center;
    color: var(--color-link);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}
.btn-nav:hover,
.btn-nav:focus {
    padding: 6px 25px;
    color: var(--bgd-color);
    background-color: var(--accent-color);
}

.btn-nav,
.hero-btn {
    cursor: pointer;
}

.portfolio-img {
    margin-bottom: 20px;
}
.portfolio-title {
    margin-top: 0;
    margin-bottom: 4px;


    color: var(--color-link);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-text {
    margin-top: 0;
    /* margin-bottom: 20px; */
    margin-bottom: 0;
    color: var(--primary-color-text);
    font-size: 16px;
    line-height: 1.9;
    }

.portfolio-section {
    margin-bottom: 94px;
}
/* Footer */
.footer {
    background-color: var(--bgd-color-footer);
    font-weight: 400;
} 
.footer-logo {
    display: inline-block;
    padding-top: 60px;
}
span.studio,
.adress-text {
    color: var(--bgd-color);
}
.adress {
    font-style: normal;
}
.adress-text {
    margin-top: 20px;
    margin-bottom: 9px;
}
.footter-auth-link,
.footer {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}
.footter-auth-link:hover,
.footter-auth-link:focus {
    color: var(--accent-color);
}
.auth-nav {
    display: inline-block;
}
